<f:comment><!-- Taken from EXT:news - Thanks Georg! :) <https://github.com/georgringer/news/blob/main/Resources/Private/Partials/List/Pagination.html> --></f:comment>

<f:if condition="{pagination.allPageNumbers -> f:count()} > 1">
    <ul class="f3-widget-paginator pagination">
        <f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
            <f:then>
                <li class="page-item first">
                    <a class="page-link" href="{f:uri.action(action:actionName, arguments:{currentPage: 1},addQueryString:1)}">{f:translate(key:'pagination_first')}</a>
                </li>
                <li class="page-item previous">
                    <a class="page-link" href="{f:uri.action(action:actionName, arguments:{currentPage: pagination.previousPageNumber},addQueryString:1)}">{f:translate(key:'pagination_previous')}</a>
                </li>
            </f:then>
            <f:else>
                    <li class="page-item disabled"><a class="page-link" href="#">{f:translate(key:'pagination_first')}</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">{f:translate(key:'pagination_previous')}</a></li>
            </f:else>
        </f:if>
        <f:if condition="{pagination.hasLessPages}">
            <li class="page-item">…</li>
        </f:if>
        <f:for each="{pagination.allPageNumbers}" as="page">
            <f:if condition="{page} == {paginator.currentPageNumber}">
                <f:then>
                    <li class="page-item active current"><a class="page-link" href="#">{page}</a></li>
                </f:then>
                <f:else>
                    <li class="page-item">
                        <a class="page-link" href="{f:uri.action(action:actionName, arguments:{currentPage: page},addQueryString:1)}">{page}</a>
                    </li>
                </f:else>
            </f:if>

        </f:for>
        <f:if condition="{pagination.hasMorePages}">
            <li class="page-item">…</li>
        </f:if>
        <f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
            <f:then>
                <li class="page-item next">
                    <a class="page-link" href="{f:uri.action(action:actionName, arguments:{currentPage: pagination.nextPageNumber},addQueryString:1)}">{f:translate(key:'pagination_next')}</a>
                </li>
                <li class="page-item last">
                    <a class="page-link" href="{f:uri.action(action:actionName, arguments:{currentPage: pagination.lastPageNumber},addQueryString:1)}">{f:translate(key:'pagination_last')}</a>
                </li>
            </f:then>
            <f:else>
                <li class="page-item disabled"><a class="page-link" href="#">{f:translate(key:'pagination_next')}</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">{f:translate(key:'pagination_last')}</a></li>
            </f:else>
        </f:if>
    </ul>
</f:if>
