{namespace pw=Tx_PwTeaser_ViewHelpers}
<f:layout name="default" />

<f:section name="main">
	<f:if condition="{f:count(subject:'{pages}')}">
		<f:then>
			<pw:widget.paginate objects="{pages}" as="pageObject" configuration="{itemsPerPage: 5, insertAbove: 0, insertBelow: 1}">
				<ul>
					<f:for each="{pageObject}" as="page">
						<li>
							<b><f:link.page pageUid="{page.uid}">{page.title}</f:link.page></b><br />
							{page.abstract}<br /><br />
						</li>
					</f:for>
				</ul>
			</pw:widget.paginate>
		</f:then>
		<f:else>
			<i>Keine Einträge gefunden.</i>
		</f:else>
	</f:if>
</f:section>